@import "_functions.scss";

$primary-color: #1db954;
$secondary-color: #191414;
$text-color: #ffffff;
$font-size-large: responsive-font(2);
$font-size-medium: responsive-font(1.5);
$font-size-small: responsive-font(1);